{% extends "base.html" %}

{% block content %}
<div class="container">

    {% if current_user.is_authenticated %}
        {% if current_user.role.value == "moderator" or current_user.role.value == "admin"%}
           <a href="/admin/product/" class="btn btn-primary mb-3">Редактировать</a>
        {% endif %}
    {% endif %}

    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div id="{{ product.id }}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img style="width: 400px; height: 300px;" src="{{ product.picture1 }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img style="width: 400px; height: 300px;" src="{{ product.picture2 }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img style="width: 400px; height: 300px;" src="{{ product.picture3 }}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#{{ product.id }}"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#{{ product.id }}"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong></strong> {{ product.price }} руб.</p>
                    <!-- <p class="card-text"><strong>Количество:</strong> {{ product.quantity }}</p> -->
                    <!-- {% if product.catergory %} -->
                    <!-- <p class="card-text"><strong>Категория:</strong> {{ product.catergory.value }}</p> -->
                    <!-- {% endif %} -->
                    <a href="/products/{{ product.id }}" class="btn btn-success mb-3">Посмотреть</a>
                    <a href="/cart/add/{{ product.id }}" class="btn btn-success mb-3">Добавить в корзину</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <a onclick="handleClickPrev()" class="prev"><</a>
        <a href="" class="pag active">1</a>
        <a class="pag">2</a>
        <a class="pag">3</a>
        <a class="pag">4</a>
        <a class="pag">5</a>
        <a onclick="handleClickNext()" href="" class="next">></a>
    </div>

    <script>

        const host = "http://127.0.0.1:9000";

        if ({{page}} == 1) {
                let element = document.querySelectorAll('.prev')[0];
                element.remove()
            }

        if ({{page}} == {{page_quantity}}) {
                let element = document.querySelectorAll('.next')[0];
                element.remove()
            }
        
        function draw(page, total) {
            let elements = document.querySelectorAll('.pag');
            let i = 0;
            for (let elem of elements) {
                if (page + i <= total) {

                    elem.innerHTML = page + i;
                    elem.href = `/products/?page=${page + i}`
                    i++;
                }
                else elem.remove()
            }
        }

        draw({{page}}, {{page_quantity}});

        function handleClickPrev() {
            let page = {{page}};
            if (page >= 2) {
                window.location.href = host + `/products/?page=${page - 1}`;
            }
        }


        function handleClickNext() {
            let page = {{page}};
            if (page < {{page_quantity}}) {
                window.location.href = host + `/products/?page=${page + 1}`;
            }
            
        }

        

    </script>
</div>
{% endblock %}