{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.role.value == "moderator" %}
            <a href="/news/edit" class="btn btn-primary mb-3">Редактировать</a>
        {% endif %}
    {% endif %}
    <div class="container">
        <div class="row">
    {% for item in news %}
        <div class="col-sm-4 my-4">
            <div class="news_block">
                <div>
                    <h2>{{ item.title }}</h2>
                </div>
                <div>
                    <p><img src="../{{ item.picture }}" alt=""></p>
                </div>
                <div>
                    <p>{{ item.text }}</p>
                </div>
                <a href="/news/{{ item.id }}" class="btn btn-secondary mb-2">Читать</a>
            </div>
        </div>
    {% endfor %}
            </div>
    </div>
{% endblock %}